ion-card {
  text-align: center;
}

ion-card-title {
  font-size: 12px;
  font-weight: bold;
}

ion-button {
  font-size: 11px;
}

ion-list-header {
  font-size: 12px;
  font-weight: bold;
}

ion-list-header > ion-label {
  text-align: center;
}

ion-item {
  font-size: 11px;
}

ion-item > ion-label {
  text-align: center;
}